.main-container{
    padding: 24px;
    flex-grow: 1;
    min-height: 100vh;
    background-color: #F2F3F5;
}
.container{
    /* width: 100%; */
    padding: 24px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: white
}

.profile-container {
    width: 100%;
    border: 1px solid #F4F4F4;
    position: relative;
    min-height: 20px;
    border-radius: 8px;
    margin-bottom: 26px;
}

.profile-container-label{
    top: -9px;
    left: 8px;
    color: #717171 !important;
    position: absolute;
    font-size: 12px;
    padding-left: 5px;
    /* background-color: white; */
}
.MuiGrid-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 20px;
}

.right-container{
    top: -12px;
    right: 40px;
    position: absolute;
}

.form-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media (min-width: 960px){
    .MuiGrid-grid-md-4 {
        padding: 20px;
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }
}

.MuiFormControl-root{
    width: 100%;
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
.MuiInputLabel-shrink{
    transform: translate(-20px, 10px) scale(0.76);
    color: black;
}

.MuiInputBase-root{
    width: 100%;
    border-radius: 8px;
    background-color: #F4F4F4
}

input,select,textarea{
    opacity: 1;
    color: #000000;
    padding: 22px 15px 12px !important;
    font-size: 16px;
    font-weight: 600;
    background: #F4F4F4;
    border: none;
    outline: none;
    border-radius: 8px;
}

select{
    width: 98%;
}

#profileEditBtn,#profileCancleBtn,#ClinicInfoEditBtn,#ClinicInfoCancleBtn, #editBtn , #cancleBtn{
    width: 61px;
    cursor: pointer;
    height: 24px;
    background: #573b8a;
    outline: none;
    border: none;
    border-radius: 12px;
    color: white;
}
#profileSubmitBtn,#ClinicInfoSubmitBtn,#submitBtn, #checkout{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 39px;
    width: 135px;
    color: white;
    border: none;
    outline: none;
    background: #573b8a;
    border-radius: 8px;
    cursor: pointer;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 200px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    /* width: 50%; */
    height: 100%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

  
.menu-table{
    margin-top: 10px;
    padding: 20px;

}
.tabs{
    cursor: pointer;
}
h1, h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    /* color: #ccc; */
    color: #020202c4;
}
h2 {
    font-size: 20px;
    color: #999;
}
tr:nth-child(odd) {
    background: #efefef;
}
td, th {
    padding: 12px;
    text-align: left;
}
th {
    background: #573b8a;
    color: white;
}
th[data-tabbedTable] {
    background: #573b8ac7;
}
.tabbedTable-labels {
    float: right;
}

label.tabbedTable-label--active {
    background: #573b8a;
}
.tabbedTable {
    width: 100%;
    margin: 0 0 20px 0;
}

.deleteMenu{
    background: #ff1313;
    border: none;
    height: 37px;
    width: 100px;
    border-radius: 30px;
    cursor: pointer;
}